body {font-family: Verdana; margin: 0px; padding: 0px;margin: 0;background-color: fefefe; }

h1 {text-align: center;}
h2 {text-align: left; margin-left: 15%;}
h3 {text-align: left; margin-left: 10%;}
p {text-align: center;}

div.main {width: 98%;margin-left:1%;margin-right:1%;}
div.ind {width: 300px; margin-left: auto; margin-right:auto;}
div.mnb {width:200px;height:200px;display:inline;margin:10px;}
div.fm {width:400px;height:300px;margin-left:auto;margin-right:auto;}
div.mn {width:400px;min-height:100px;margin-left:auto;margin-right:auto;}
.but {background:#ffff00;}
#main {width:700px;margin-right:auto;margin-left:auto;}